@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

body{
    background-color: rgb(230, 229, 229);
}
a{
    text-decoration: none;
}
#main_color{
    height: 500px;
    width: 100%;
    background-color: blue;
}
.main_img{
    height: 400px;
    width: 45%;
    
}
.logo_img{
    width: 100px;
    width: 90%;
    margin-top: 95px;
    margin-left: 50px;
}
@media only screen and (max-width: 768px) {
    .logo_text{
        font-size: 10px;
    }
}
.logo_text{
    text-decoration: none;
    font-family: roboto;
    font-weight: 700;
    color: black;
    font-size: 40px;
}
.main_text{
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .logo_img {
        width: 250px;
        height: 80px; 
        margin-left: 119px;
    }
}
@media only screen and (max-width: 768px) {
   .main_img{
    height: 200px;
   }
}
@media only screen and (max-width: 768px) {
    .card_in_mob{
        margin-left: 119;
    }
}
.card_in_mob{
    font-family: roboto;
    color: black;
    font-weight: 500;
 }
 .slider_section {
    background-image: url('images/main_img.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}
.icon{
    
    height: 20px;
    width: 20px;
}
.button{
    width: 150px;
    height: 65px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgb(16, 206, 16);
    font-family: roboto;
    font-weight: 500;
}
label{
    font-family: roboto;
    font-weight: 500;
    margin-top: 10px;
}
input{
    height: 45px;
    width: 60%;
    font-size: 30px;
    font-family: roboto;
}
#mes_bt{
    height: 40px;
    width: 100px;
}
#message{
    height: 200px;
}
.i{
    font-family: roboto;
    font-weight: 500;
   color: black;
   margin: 5px;
}